html {
	font-size:62.5%;
}

body {
	background-color:#364549;
	color:#ffffff;
	font-size:1.6rem;

	-webkit-text-size-adjust:100%;
	        text-size-adjust:100%;
}

.header {
	padding:2em;
	width:100%;
	border-bottom:1px solid #ffffff;
	text-align:center;

	h1 {
		font-size:3rem;
	}
}

.ball-wrap {
	display:flex;
	justify-content:center;
	margin-bottom:7em;

	.ball {
		display:inline-block;
		margin:0 auto;
		width:100px;
		height:100px;
		border-radius:100px;
	}

	.ball1 {
		background-color:#0080c0;
	}

	.ball2 {
		background-color:#b3c000;
	}

	.ball3 {
		background-color:#0080c0;
	}

	.ball4 {
		background-color:#b3c000;
	}

	.ball5 {
		background-color:#0080c0;
	}

	.ball6 {
		background-color:#b3c000;
	}

	.ball7 {
		background-color:#0080c0;
	}
}

.square-wrap {
	display:flex;
	justify-content:center;

	.sq {
		display:inline-block;
		margin:0 auto;
		width:100px;
		height:100px;
		background:#ff9b00;
	}
}

img {
	max-width:100%;
	height:auto;
}

.wrapper {
	overflow:hidden;
	margin:20px auto 0;
	padding:0;
	width:100%;
}

.buttons-holder {
	display:flex;
	justify-content:center;
	padding:1em;
}

.buttons-holder .button {
	margin-right:1em;
	padding:0.5em;
	border-radius:3px;
	background-color:red;
	box-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
	color:white;
	text-decoration:none;
	text-transform:uppercase;
	font-size:1.2em;
	transition:all 0.5s;
}

.buttons-holder .button:last-child {
	margin-right:0;
}

.buttons-holder .button:hover ,
.buttons-holder .button:focus {
	background-color:darkred;
	box-shadow:0 -2px 1px rgba(0, 0, 0, 0.7);
	transform:scale(1.1);
}


/* SVG styles */

svg {
	display:block;
	border-radius:20px;
}

.body {
	fill:#ff9c00;
	stroke:none;
}

.face {
	fill:#ff9b00;
	stroke:none;
}

.mouth-right ,
.mouth-left {
	fill:#2f2f2f;
	stroke:none;
}

.right-ear ,
.left-ear {
	fill:#ff9b00;
	stroke:none;
}

.left-eye ,
.right-eye {
	fill:#ffffff;
	stroke:none;
}

.whiskers-right ,
.whiskers-left {
	fill:none;
	stroke:#ffffff;
	stroke-dasharray:none;
	stroke-linecap:round;
	stroke-linejoin:miter;
	stroke-miterlimit:4;
	stroke-width:3.75938153;
}

.front-leg-right ,
.front-leg-left ,
.rear-leg-right ,
.rear-leg-left {
	fill:none;
	stroke:#ff9c00;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:4;
	stroke-width:37.59381485;
}

.tail {
	fill:none;
	stroke:#ff9c00;
	stroke-linecap:round;
	stroke-linejoin:miter;
	stroke-miterlimit:4;
	stroke-width:37.59381485;
}

.stripes {
	fill:#ffbb50;
	fill-opacity:1;
	stroke:none;
}

.cat-ball {
	fill:#be0000;
	stroke:none;
}

@media (min-width: 600px) {
	.wrapper {
		width:70%;
	}

	.kicking-cat {
		display:block;
		margin:0 auto;
		width:100%;
		border:2px solid darkred;
	}
}
